@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  border: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

section {
  padding: 3rem 9%;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: #e9edfb;
  color: #224bcf;
  cursor: pointer;
  border-radius: .5rem;
  font-size: 1.7rem;
}

.btn:hover {
  color: #fff;
  background: darkcyan;
}

.heading {
  background-size: cover;
  background-position: center;
}

.heading h3 {
  font-size: 3.5rem;
  color: #302851;
}

.heading p {
  font-size: 2rem;
  color: #666;
  padding-top: .5rem;
}

.heading p a {
  padding-right: .5rem;
  color: #fa1d86;
}

.heading p a:hover {
  color: #224bcf;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5%;
  background: darkcyan;
}

img{
    width: 6rem;
}



.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #fff;
  margin-top: 0.8rem;
}

.header .logo i {
  color: #fa1d86;
}

.header .navbar ul {
  list-style: none;
}

.header .navbar ul li {
  position: relative;
  float: left;
}

.header .navbar ul li:hover ul {
  display: block;
}

.header .navbar ul li a {
  padding: 2rem;
  display: block;
  font-size: 1.7rem;
  color: #fff;
}

.header .navbar ul li a:hover {
  background: #fa1d86;
}

.header .navbar ul li ul {
  position: absolute;
  left: 0;
  width: 20rem;
  background: darkcyan;
  display: none;
}

.header .navbar ul li ul li {
  width: 100%;
}

#menu-btn {
  cursor: pointer;
  color: #fff;
  font-size: 2.5rem;
  display: none;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.home .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.home .image img {
  width: 100%;
}

.home .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.home .content h3 {
  color: #302851;
  font-size: 5rem;
}

.home .content p {
  font-size: 2rem;
  color: #666;
  padding: 1rem 0;
  line-height: 2.5;
}

.footer {
  background: darkcyan;
}
.footer .credit {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color: #f1f8fc;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.5);
}

.footer .credit span {
  color: black;
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: darkcyan;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar ul li {
    width: 100%;
  }
  .header .navbar ul li ul {
    width: 100%;
    position: relative;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
/*# sourceMappingURL=style.css.map */


/* About */

.section{
    width: 100%;
    min-height: 100vh;
    background-color: #f1f8fc;
   }
   .container{
    width: 90%;
    display: block;
    margin:auto;
    padding-top: 100px;
   }
   .content-section{
    width: 90%;
   }
   .content-section .title{
    text-transform: uppercase;
    font-size: 28px;
   }

   .content-section .content p{
    margin-top: 10px;
    font-family: Poppins;
    font-size: 1.75rem;
    line-height: 1.5;
   }
   @media screen and (max-width: 768px){
    .container{
    width: 80%;
    display: block;
    margin:auto;
    padding-top:50px;
   }
   .content-section{
    float:none;
    width:100%;
    display: block;
    margin:auto;
   }

 
   .content-section .title{
    text-align: center;
    font-size: 19px;
   }
   }
   
   
   
   